@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>

<p>Full Name: Acquilla Robinzina Allen-Teal</p>
<p>Birthday: 09/08/1987</p>
<p>Birthplace: Grace Hospital, Detroit, MI</p>
<p>Age: 29</p>
<p>Parents: Carla Marie Allen and Barry Cameron Teal</p>
<p>Siblings: Na'Chelle Trina' Allen-Teal and Michael Smith (Stepbrother)</p>
<p>Family Order: Oldest Child of 2 and Second Oldest of 15 Grandchildren</p>
<p>School Majors: Robotics Engineering and Computer Science</p>
