@{
    ViewBag.Title = "Get A Hold Of Me";
}
<h2>@ViewBag.Title.</h2>

<address>
    6339 Piedmont<br />
    Detroit, MI 48228<br />
    <abbr title="Phone">P:</abbr>
    734.788.6726
</address>

<address>
    <strong>Main:</strong>   <a href="mailto:1stladyofkrypton@gmail.com"></a><br />
    <strong>Pro:</strong> <a href="mailto:allen.quilla@gmail.com"></a>
</address>