
@{
    ViewBag.Title = "Hobbies";
}

<h2>Hobbies</h2>

<h1>Reading</h1>

<p>Sci Fi</p>
<p>Fantasy</p>
<p>Suspense/Thriller</p>
<p>Horror</p>
<p>Graphic Novels</p>
<p>Comics</p>

<h1>Video Games</h1>

<p>The Legend of Zelda</p>
<p>Assassin's Creed</p>
<p>Fable</p>
<p>Batman Arkham Series</p>
<p>Kingdom Hearts</p>
<p>Tomb Raider</p>
<p>Uncharted</p>

<h1>Music</h1>

<p>...Listing the type of music I DON'T like would be a shorter list</p>

