@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Acquilla Allen</h1>
    <p class="lead">An Updated About Me Page!</p>
    <p><a href="https://www.facebook.com/acquilla.allenteal.1?hc_location=ufi" class="btn btn-primary btn-lg">Book of Faces &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Twitter</h2>
        <p>
          Random Thoughts
        </p>
        <p><a class="btn btn-default" href="https://twitter.com/wanderingrobin">Tweet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>All Of The Pics</h2>
        <p>Not much for talking. Prefer pics.</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/wanderingrobin/">Pics &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Blackhole That Is Tumblr</h2>
        <p>Basically the pandora's box of the internet</p>
        <p><a class="btn btn-default" href="http://superherowithoutacape.tumblr.com/">Tumble &raquo;</a></p>
    </div>
</div>